{
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.test.js",
                    "**/*.test.jsx",
                    "**/*.test.ts",
                    "**/*.test.tsx",
                    "src/tests/**/*"
                ]
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "semi": true,
                "printWidth": 140,
                "tabWidth": 4,
                "singleQuote": true,
                "bracketSpacing": true,
                "jsxBracketSameLine": false,
                "useTabs": false,
                "arrowParens": "avoid",
                "trailingComma": "all"
            }
        ],
        "react/state-in-constructor": "off",
        "no-param-reassign": 0
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb-typescript",
        "eslint:recommended",
        "prettier",
        "prettier/react",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "arrowFunctions": true
        },
        "ecmaVersion": 2019,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "react",
        "prettier",
        "@typescript-eslint"
    ]
}
