.cell {
    --field-background: var(--color-1--2);
    --field-color: var($color-1--4);
    --field-size: calc(var(--global-field-size) - 2px);

    align-items: center;
    background: var(--field-background);
    color: var(--field-color);
    display: flex;
    height: var(--field-size);
    justify-content: center;
    margin: 1px;
    width: var(--field-size);

    .area__letters &,
    .area__numbers & {
        --field-background: var(--color-1--3);
        --field-color: var(--color-white);
    }

    &.miss {
        &::before {
            --field-miss-size: calc(var(--field-size) / 4);

            background: var(--color-white);
            border-radius: 50%;
            content: '';
            height: var(--field-miss-size);
            width: var(--field-miss-size);
        }
    }

    &.ship {
        --field-background: var(--color-2--3);
        border-radius: 5px;
    }

    &.hit {
        --field-background: var(--color-3--1);
        border-radius: 5px;
    }

    &.explode {
        --field-background: var(--color-4--1);
        border-radius: 5px;
    }

    &.lock {
        opacity: 0.65;
    }

    &:focus {
        outline: none;
    }

    &:not(.miss):not(.hit):not(.explode):not(.lock):not(.ship):hover {
        border: 1px solid var(--color-white);
    }

    &[type="button"] {
        .computer & {
            cursor: crosshair;
        }
    }

    &:disabled,
    &[disabled] {
        cursor: not-allowed;
    }
}
