.ship {
    &__button {
        cursor: pointer;
        display: flex;
        margin-left: 10px;
    }

    &__button-cell {
        background: var(--color-2--3);
        height: calc(var(--global-field-size) - 2px);
        margin: 1px;
        width: calc(var(--global-field-size) - 2px);
    }
}
