.ship {
    &__button {
        display: flex;
    }

    &__button-cell {
        background: var(--color-2--3);
        height: calc(var(--global-field-size) / 2 - 1px);
        margin: 0.5px;
        width: calc(var(--global-field-size) / 2 - 1px);
    }
}
