.ship {
    &__button {
        display: flex;
    }

    &__button-cell {
        --ship-button-cell-size: calc(var(--global-field-size) / 1.5 - 1px);

        background: var(--color-2--3);
        height: var(--ship-button-cell-size);
        margin: 1px;
        width: var(--ship-button-cell-size);
    }
}
