// Colors.
$color-1--1: #bbe1fa !default;
$color-1--2: #3282b8 !default;
$color-1--3: #0f4c75 !default;
$color-1--4: #1b262c !default;

$color-2--1: #ffcf92 !default;
$color-2--2: #ffbe6b !default;
$color-2--3: #ffa83a !default;
$color-2--4: #a66513 !default;

$color-3--1: #f93c1e !default;

$color-4--1: #18ab07 !default;

$color-white: #fff;
$color-black: #000;

// Size.
$field-size: 50px;

:root {
    --color-1--1: #{$color-1--1};
    --color-1--2: #{$color-1--2};
    --color-1--3: #{$color-1--3};
    --color-1--4: #{$color-1--4};

    --color-2--1: #{$color-2--1};
    --color-2--2: #{$color-2--2};
    --color-2--3: #{$color-2--3};
    --color-2--4: #{$color-2--4};

    --color-3--1: #{$color-3--1};
    --color-4--1: #{$color-4--1};

    --color-white: #{$color-white};
    --color-black: #{$color-black};

    --global-field-size: #{$field-size};
}

