.ships {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -2px 0;
    padding: var(--global-field-size) 10px;
    position: absolute;
    top: 0;

    @media screen and (max-width: 767px) {
        display: none;
    }

    .user & {
        align-items: flex-end;
        left: 0;
        transform: translateX(-100%);
    }

    .computer & {
        align-items: flex-start;
        right: 0;
        transform: translateX(100%);
    }
}
