.field {
    --field-color: var($color-1--4);
    --field-background: var(--color-1--2);
    --field-size: calc(var(--global-field-size) - 2px);

    align-items: center;
    background: var(--field-background);
    color: var(--field-color);
    display: flex;
    height: var(--field-size);
    justify-content: center;
    margin: 1px;
    width: var(--field-size);

    .area__letters &,
    .area__numbers & {
        --field-background: var(--color-1--3);
        --field-color: var(--color-white);
    }

    &.past {
        --field-background: var(--color-1--1);
    }

    &.ship {
        --field-background: var(--color-2--3);
    }

    &.hit {
        --field-background: red;
    }

    &.locked {
        opacity: 0.65;
    }

    &:focus {
        outline: none;
    }

    &[type="button"] {
        cursor: pointer;
    }

    &:disabled,
    &[disabled] {
        cursor: default;
    }
}
