.area {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: var(--area-row-size);

        &.is-disabled {
            opacity: 0.8;
            pointer-events: none;

            * {
                opacity: 1;
            }
        }
    }
}
