.sea-battle {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    width: 100%;

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__wrapper {
        text-align: center;
    }

    &__areas {
        display: flex;
        margin-bottom: 20px;
    }
}
