.rules {
    &__title {
        margin: 0 0 10px;
    }

    &__list {
        margin: 0;
    }

    span {
        --svg-size: calc(var(--global-field-size) / 1.5);

        align-items: center;
        background: var(--color-black);
        display: inline-flex;
        height: var(--svg-size);
        justify-content: center;
        width: var(--svg-size);

        svg {
            fill: var(--color-white);
            height: 50%;
            width: 50%;
        }
    }
}
