.rules {
    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin: 20px 0 10px;
    }

    &__list {
        margin: 0;

        li {
            align-items: center;
            display: flex;
            line-height: 2;

            &::before {
                margin-right: 7px;
                font-size: 20px;
                content: '-';
            }
        }
    }

    &__icon {
        --svg-size: calc(var(--global-field-size) / 1.5);

        align-items: center;
        background: var(--color-black);
        display: inline-flex;
        height: var(--svg-size);
        justify-content: center;
        margin: 0 5px;
        width: var(--svg-size);

        svg {
            fill: var(--color-white);
            height: 50%;
            width: 50%;
        }
    }

    span {
        vertical-align: top;
    }

    p {
        margin: 15px 0;
    }
}
